[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_full_version = "3.8.0"

[packages]
click = "*"
"ruamel.yaml" = "*"
"boto3" = "*"
coloredlogs = "*"
"fabric3" = "*"
requests = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"
rope = "*"
twine = "*"
ribosome-tool = {editable = true,path = "."}
